@import 'assets/scss/abstracts/colors.scss';
@import 'assets/scss/utilities';
@import 'components/Header/Header.scss';

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

h1 {
	font-size: 4rem; // 48px
	font-weight: 700;
	@extend .emphasis;
}

h3 {
	font-size: 1.25rem; // 20px
	@extend .emphasis;
}

.main {
	position: relative;
	background-color: map-get($background, 'main');
	color: map-get($text, 'main');
	min-height: 100vh;
	max-width: 100vw;
	padding: 2rem 3rem;
	display: flex;
	justify-content: center;

	height: max-content;
}

.main-inner {
	height: 100%;
	width: 100%;

	max-width: 1280px;

	display: flex;
	gap: 1rem;
}
