$background: (
	'300': #1e293b,
	'main': #0f172a,
);

$text: (
	'300': #e5edf7,
	'main': #abbacf,
	'700': #abbacf,
);

$primary: (
	'300': #5eead4,
	'main': #5eead4,
	'400': #2dd4bf,
	'500': #41bfab,
);

$secondary: (
	'300': #1ec0e4,
	'main': #1ec0e4,
	'400': #18cff8,
);

$neutral: (
	'100': #f5f5f5,
	'main': #e5edf7,
	'200': #e5edf7,
	'300': #c4c4c4,
	'400': #abbacf,
	'500': #888888,
	'600': #707070,
	'700': #5e6063,
	'800': #353535,
	'900': #191919,
);
