@import 'assets/scss/abstracts/colors.scss';

.Card {
	padding: 1rem;
	width: 100%;
	border-radius: 8px;

	&:hover {
		background-color: rgba(map-get($background, '300'), 0.5);

		.title {
			&.software {
				h3,
				span {
					color: map-get($primary, 'main');
				}
			}
			&.music {
				h3,
				span {
					color: map-get($secondary, 'main');
				}
			}
		}

		.circle {
			background-color: map-get($primary, 'main');
		}

		.link-arrow {
			stroke: map-get($primary, 'main');
			top: 0px !important;
			right: 0px !important;
		}
	}

	.image {
		width: 90%;
		height: 80px;
		object-fit: cover;
		border-radius: 4px;
		border: 2px solid map-get($neutral, '700');
	}

	.grid {
		display: grid;
		grid-template-columns: 132px auto;
	}

	.info-container {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}

	.title {
		display: flex;
		align-items: center;
		gap: 0.75rem;

		h3 {
			// todo make this a component instead
			font-weight: 600;
			font-size: 1rem;
		}
	}

	.circle {
		width: 2px;
		height: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: map-get($text, '300');
	}

	.link-arrow {
		position: relative;
		transition: top 200ms, right 200ms;
		top: 2px;
		right: 2px;
	}

	.tech-container {
		display: flex;
		flex-wrap: wrap;
		gap: 0.35rem 0.5rem;
	}
}
